#preferences {
        width: 600px;
        min-height: 500px;
}

.hidden {
	display: none;
}

#linkmyaccount {
	text-decoration: inherit;
    background-color: transparent;
	padding: 12px 4px 12px 17px;
}

#spanmyaccount {
	padding: 12px 5px 4px 4px;
}

#themeForm {
	text-align: left;
	padding: 20px;
}

#account_buttonOK{
	margin: 5px;
	margin-top: 80px;
	margin-left: 200px;
}

#welcomeuser {
	float:left;
	padding-left: 50px;
	color: #9cfc57;
}

.myaccountentry {
	cursor: pointer;
	float:left;
	font-family:verdana;
	font-size:10pt;
	margin: 12px 0 5px 7px;
	padding: 2px 2px 2px 2px;
	font-size: 16px;
	font-weight: bold;
}

#spanorders:hover, #spanpreferences:hover {
	color: #E17009;	
}

#spanlogout:hover {
	color: #CD0A0A;
}

#spanlogout {
	margin-right: 50px;
}

.spanprofile {
	text-align: left;
}

.labeltheme{
	padding: 15px;
}

#divmyaccount {
    z-index: 800;
    width: 220px;
	height: 130px;
    top: 300px;
    right: 0;
    position: absolute;
    display: none;
    background-image: url(./images/inicio/bg.png);
    /* mozilla firefox */
    -moz-border-radius: 7px 2px 7px 7px;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    /* google chrome & safari*/
    -webkit-border-radius: 5px 0 5px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 3px 3px;
    /* opera */
    box-shadow: 0px 3px 3px #666666;
    border-radius: 7px 2px 7px 7px;
    border: 2px solid #555;
}


input[name=theme] {
	margin-left: 30px;
}

form#modifyForm, form#changePassForm{
	text-align: left;
}

#tabsData input[type=submit] {
	margin-left: 460px;
	margin-bottom: 80px;
}

#clientData, #changePass{
	-moz-box-shadow : 0 0px 8px rgba(0, 0, 0, 1);
	-moz-border-radius: 10px 10px 10px 10px;
	background-color:  transparent;
	border: 1px solid #000000;
}
