/* Order form */
.orderTable {
	margin: 15px;
	position: relative;
	padding: 0.5em; padding-bottom: 25px; 
	/*background: #333;*/
}

.confirmedOrder {
	color: #CD0A0A;
}

.shippedOrder {
	color: #5E740B;
}

.deliveredOrder {
	color: #F37E0D;
}

.orderTable ul {
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C9C9C9;
}

.orderTable ul li {
	list-style: none;
	padding: 5px 10px;
}

.orderTable ul li.orderTitle {
	font-weight: bold;
	background: #333;
	color: #fff;
}

.orderTable ul li.orderItem {
	height: 30px;
	background: #fff;
}

/* *********************** */

/* Address form */
#addressInfo {
	height: 600px !important;
	font-size: 12px;
    display: none;
    background-color: #e2e2e2;
	background-repeat: repeat-x;
}

#addressCreator {
	font-size: 12px;
    display: none;
    background-color: #e2e2e2;
	background-repeat: repeat-x;
}

#addressSelector{
	font-size: 12px;
    display: none;
    background-color: #e2e2e2;
	background-repeat: repeat-x;
	background-image: url(./images/inicio/bg.png);
	height: 550px !important;
	color: #000 !important;
	font-family: verdana;
}

#addressSelector a{
	color: #000 !important;
}

.orderIdDialog {
	display: none;
}

.addressTable {
	margin: 15px;
	position: relative;
	padding: 0.5em; padding-bottom: 25px; 
	/*background: #333;*/
}

.addressTableInfo {
	margin: 15px;
	position: relative;
	padding: 0.5em; padding-bottom: 25px; 
	/*background: #333;*/
}

.addressTable ul {
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C9C9C9;
}

.addressTable ul li {
	height: 25px;
	list-style: none;
	padding: 5px 10px;
}

.addressTableInfo ul li.addressTitle {
	font-weight: bold;
	background: #333;
	color: #fff;
}

.addressTableInfo ul li.addressItem {
	height: 40px;
	background: #fff;
}

.addressTableInfo ul {
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C9C9C9;
}

.addressTableInfo ul li {
	list-style: none;
	padding: 5px 10px;
}

.addressTableInfo ul li.addressTitle {
	height: 18px;
	font-weight: bold;
	background: #333;
	color: #fff;
}

.addressTableInfo ul li.addressItem {
	height: 30px;
	background: #fff;
}

/* *********************** */

.checkoutTable {
	margin: 15px;
	position: relative;
	padding: 0.5em; padding-bottom: 25px; 
	/*background: #333;*/
}

.checkout-header {
	font-weight: bold;
	font-size: 20px;
}

.totalCheckout {
	font-weight: bold;
	font-size: 17px;
	color: #CD0A0A;
}

.checkoutTable ul {
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C9C9C9;
}

.checkoutTable ul li {
	list-style: none;
	padding: 5px 10px;
}

.checkoutTable ul li.checkoutTitle {
	
	font-weight: bold;
	background: #333;
	color: #fff;
}

.checkoutTable ul li.checkoutItem {
	background: #fff;
}