
#pageWrapper {
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    height: 700px;
    width: 1024px;
    left: 0;
    right: 0;
    top: 158px;
    bottom: 0px;
    margin: 0 auto 0 auto;
}


#contentWrapper {
    position: absolute;
    height: 90%;
    width: 624px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
}

.searchProduct {
    position: relative;
    float: left;
    height: 100px;
    width: 530px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px auto 20px auto;
    left: 0;
    right: 0;
    /* mozilla firefox */
    -moz-border-radius: 10px;
    background-image: url(./images/inicio/lines.png);
    background-color: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#content {
    z-index: 9;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 100px auto 0 auto;
    overflow-y: scroll;
}

#sidebar-left {
    position: absolute;
    width: 281px;
    height: 90%;
    left: -41px;
    top: 0px;
    background-image: url(./images/inicio/sidebar_border.png);
    background-repeat: repeat-y;
}

.sidebarBg {
    z-index: 2;
    position: absolute;
    margin: 0 auto 0 auto;
    width: 200px;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url(./images/inicio/lines_2.png);
}

.sidebar {
    z-index: 2;
    position: absolute;
    margin: 0 auto 0 auto;
    width: 180px;
    height: 100%;
    top: 0px;
    left: 20px;
    right: 0px;
}

#sidebar-right {
    z-index: 2;
    position: absolute;
    width: 281px;
    height: 90%;
    left: 783px;
    top: 0px;
    background-image: url(./images/inicio/sidebar_border.png);
    background-repeat: repeat-y;
}

#footer {
    position: absolute;
    height: 10%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto auto auto auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-color: #ccc;
    border-top-style: groove;
}

#footerInfo {
    font-size: 8pt;
    position: absolute;
    height: 30%;
    width: 30%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto auto auto auto;
}

#menuCategorias {
    padding-top: 80px;
}

