/* LAYOUR HELPERS ************************************ */
/* formerly 'ui-helper-clearfix' */
.helper-clearfix:after		{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.helper-clearfix			{ display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .helper-clearfix	{ height:1%; }

.helper-reset { /* formerly 'ui-helper-reset' */
	margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3;
	text-decoration: none; font-size: 100%; list-style: none; }
/* ************************************************** */

/* from html ***************************************** */
* html #products				{ height: 12em; } /* IE6 */
#products 						{ float: left; min-height: 12em; }
#content .products li			{ margin: 8px;}
.products.custom-state-active	{ background: #eee; }
.products li					{ position: relative; float: left; height: 100px; width: 570px; padding: 0.5em; padding-bottom: 25px; text-align: left; }
.products li h5					{ margin: 0 0 0.4em; font-size:110%; height: 45px;}
.products li a					{ float: right; }
#cart .products li 				{ position: relative; height: 180px; left: 20px; width: 170px; margin: 0 0 10 30px;}
.spanPrice 						{ height: 50px; width: 50px; position: absolute; top: 30px; left: 490px; font-size:75%}
#cart .spanPrice 				{ height: 50px; width: 50px; position: absolute; top: -25px; left: 30px; font-size:75%}
#content .products li a.icon-zoom		{ float: right;  margin-left:20px; margin-top:20px;}
#content .products li a.icon-cart		{ float: left;  margin-top:20px;}
.products li a.icon-remove		{ float: left; }
.products li img				{ float: left;  width: 66px; left: 20px; position: absolute; cursor: move;}
#cart .products li img			{ z-index: 10; float: left;  width: 66px; left: 24px; top: 22px; position: absolute; cursor: move;}
* html #cart					{ height: 18em; } /* IE6 */
#cart							{ top: 0px; border: 1px groove #ddd; padding-top: 15px; padding-bottom: 15px; background-repeat: repeat-y; background-color: transparent; position: absolute; left: 0; right: 0; min-height: 95%; width: 155px; margin-top: 0px; margin-left: 0px; list-style: none;}
#cart h4						{ line-height: 25px; margin: 0 0 0.4em; }
#cart h4 .icon					{ float: left; }
#cart .products li h5			{ position: absolute; top: 0px; left: 0px;  display: none; }

.cartDivisor {
	position: absolute;
	left: -30px;
	top: 160px;
	width: 160px;
	height: 5px;
	background-image: url(images/inicio/lines.png); 
}

/* ************************************************** */


/* PRODUCT ****************************************** */

.productBg{
	z-index: -1;
	height: 20px;
	width: 600px;
	position: absolute;
	left: -5px;
	top: -20px;
	background-repeat: no-repeat;
}

.cartFeedback {
	position: absolute;
	top: 108px;
	left: 25px;
	font-weight: bold;
	font-size: 10pt;
	color: #f00;	
	display: none;
}

.imgDragger{
	cursor: move;
	position: absolute;
	top: 0px;
	left: 15px;
	height: 105px;
	width: 123px;
}

.imgWrapper {
    position: absolute;
    top: 15px;
    left: 17px;
    height: 105px;
    width: 80px;
	background-repeat: no-repeat;
}


.imgDraggerHelper{
	cursor: move;
	position: relative;
	top: 0px;
	left: 40px;
	height: 105px;
	width: 123px;
}

.productDetails{
	position: absolute;
	top: 40px;
	left: 255px;
	font-family: verdana;
	font-size: 9pt;
	font-weight: bold;
	color: #666;
}

.product .product	{ font-size: 1em; }
.product-content a	{ color: #222222; }
.product-header a	{ color: #222222; }
.product:active		{ outline: none; }
.product { /* formerly 'ui-widget' */
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em; }
	
.product-content { /* formerly 'ui-widget-content' */
	border: none;
	background: transparent;
	color: #222222; }
	
.product-header { /* formerly 'ui-widget-header' */
	border: none;
	width: 440px;
	height: 50px;
	position: absolute;
	top: 5px;
	left: 150px;
	background: transparent;
	color: #222222; font-weight: bold; }
/* ************************************************** */

/* INTERACTION STATES ******************************* */
/* 'state-default'			formerly	'ui-state-default' */
/* 'state-hover'			formerly	'ui-state-hover' */
/* 'state-active'			formerly	'ui-state-active' */
/* 'state-highlight'		formerly	'ui-state-highlight' */
/* 'state-error'			formerly	'ui-state-error' */
/* 'state-disabled'			formerly	'ui-state-disabled' */
/* 'state-error-text'		formerly	'ui-state-error-text' */
/* 'priority-primary'		formerly	'ui-priority-primary' */
/* 'priority-secondary'		formerly	'ui-priority-secondary' */
.state-default, .product-content .state-default, .product-header .state-default { border: 1px solid #d3d3d3; background: #e6e6e6; font-weight: normal; color: #555555; }
.state-default a, .state-default a:link, .state-default a:visited { color: #555555; text-decoration: none; }
.state-hover, .product-content .state-hover, .product-header .state-hover, .state-focus, .product-content .state-focus, .product-header .state-focus { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.state-hover a, .state-hover a:hover { color: #212121; text-decoration: none; }
.state-active, .product-content .state-active, .product-header .state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.state-active a, .state-active a:link, .state-active a:visited { color: #212121; text-decoration: none; }

#cart .state-highlight{
	background-color: #000;
}

.state-highlight, .product-content .state-highlight, .product-header .state-highlight  { background-color: #fff; }
.state-highlight a, .product-content .state-highlight a, .product-header .state-highlight a { color: #363636; }
.state-error, .product-content .state-error, .product-header .state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.state-error a, .product-content .state-error a, .product-header .state-error a { color: #cd0a0a; }
.state-error-text, .product-content .state-error-text, .product-header .state-error-text { color: #cd0a0a; }
.priority-primary, .product-content .priority-primary, .product-header .priority-primary { font-weight: bold; }
.priority-secondary, .product-content .priority-secondary,  .product-header .priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.state-disabled, .product-content .state-disabled, .product-header .state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
/* ************************************************** */

/* CORNER RADIUS ************************************ */
.corner-tl		{ -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.corner-tr		{ -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.corner-bl		{ -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.corner-br		{ -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corner-top		{ -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.corner-bottom	{ -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corner-right	{ -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corner-left	{ -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.corner-all		{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* ************************************************** */


/* QUANTITY */
#cart .quantity {  position: absolute; top: 120px; left: -5px; font-weight: bold; position: relative; }
/* ************************************************** */

/* ICONS ******************************************** */
.icon-cart				{ position: absolute; left: 150px; top: 43px; 
	height: 42px;
	width: 42px; }
.icon-zoom				{  position: absolute; left: 180px; top: 43px; 
	height: 42px;
	width: 42px;
	}

#cart .icon-zoom		{ width: 16px; height: 16px; background-repeat: no-repeat; background-image: url(images/ui-icons_222222_256x240.png); position: absolute; left: 20px; top: 130px; background-position: -128px -112px; }
#cart .icon-plus		{ position: absolute; top: 130px; left: 40px; background-position: -32px -128px; }
#cart .icon-minus		{ position: absolute; top: 130px; left: 60px; background-position: -64px -128px; }
#cart .icon-remove		{ position: absolute; top: 130px; left: 110px; background-position: -96px -128px; }
.icon { /* formerly '.ui-icon' */
	display: block; text-indent: -99999px; overflow: hidden;
	width: 16px; height: 16px;
	background-repeat: no-repeat;
	background-image: url(images/ui-icons_222222_256x240.png); }
/* ************************************************** */