body {
    font-family: tahoma;
    text-align: center;
    min-width: 1024px;
    margin: 0;
    background-color: #080603;
    
}

#bgOverlay {
	z-index: -1;
    position: relative;
    height: 837px;
	width: 1024px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
    background-color: #0c0b0a;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/inicio/test_bg.png);
	background-repeat: no-repeat;
}

#header {
    position: static;
    text-align: left;
    height: 300px;
    width: 100%;
    background-color: #0c0b0a;
    margin-left: auto;
    margin-right: auto;
}

#headerBorder {
    z-index: 5;
    position: relative;
    height: 20px;
    width: 100%;
    top: 100%;
    background-image: url(images/inicio/header_border.png);
    background-repeat: repeat-x;
}

#headerLines {
    z-index: 5;
    position: relative;
    height: 100%;
    width: 100%;
    top: -15px;
    background-image: url(images/inicio/lines.png);
    background-repeat: repeat;
}

#headerContent {
    position: absolute;
    top: 0;
    height: 300px;
    width: 1024px;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    background-image: url(images/inicio/header_test.png);
    background-repeat: no-repeat;
}

#headerTitle a:visited {
    color: transparent;
}

#divfisheye {
    height: 283px;
    width: 800px;
    left: 10px;
    right: 0;
    top: 420px;
	bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/inicio/fisheye.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
}

#headerTitle {
    z-index: 10;
    position: relative;
    height: 275px;
    width: 650px;
    top: 50px;
    left: 20px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#inputsearch {
    z-index: 500;
    color: #ddd;
    position: absolute;
    height: 30px;
    width: 200px;
    top: 13px;
    text-align: left;
    margin: 0 0 0 8px;
    border: none;
    background-color: transparent;
    font-family: verdana;
    font-size: 16pt;
    font-weight: 500;
}

#categoryCBox {
    z-index: 500;
    color: #eee;
    width: 190px;
    position: absolute;
    height: 20px;
    margin: 0;
    top: 20px;
    left: 265px;
    font-family: verdana;
    background-color: transparent;
    font-size: 11pt;
    font-weight: 500;
    vertical-align: center;
    border: none;
}

option.searchOption {
    background-color: rgba(200, 200, 200, 1);
}

optgroup.searchOption {
    background-color: rgba(200, 200, 200, 1);
}

#searchButton {
    z-index: 500;
    position: absolute;
    outline: 0;
    top: 9px;
    left: 455px;
    height: 50px;
    width: 65px;
    background-color: transparent;
    border: hidden;
    outline: #fff;
    background-image: url(images/inicio/searchButton.png);
    background-position: left;
    background-repeat: no-repeat;
}

#searchButton:focus {
    outline: none;
}

#searchButton:hover {
    background-image: url(images/inicio/searchButton_hover.png);
}

#searchButton:active {
    border-style: none;
    outline: 0;
    background-image: url(images/inicio/searchButton_active.png);
}

#searchForm {
    left: 30px;
    right: 0;
    margin: 0 auto 0 auto;
    background-image: url(images/inicio/searchbar.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 150px;
    top: 25px;
    width: 550px;
    padding: 0 55px 10px 55px;
    position: relative;
}

#spanlanguage {
	color: #ddd;
    text-decoration: inherit;
}

#divlanguage {
	z-index: 11;
	position: absolute;
	
}
