body {
    font-family: verdana;
    text-align: center;
    min-width: 1280px;
    margin: 0;
    background-color: #a2a4ac;
    background-image: url(./images/inicio/bg.png);
    background-repeat: repeat-x;
}

#header {
	z-index: 3;
    text-align: left;
    height: 400px;
    width: 100%;
    background-color: #779310;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/inicio/header_overlay.png);
    background-repeat: repeat-x;
    border-color: #ffffff;
    border-bottom-style: groove;
    /* firefox */
    -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
}

#headerContent {
	z-index: 3;
    position: absolute;
    height: 400px;
    width: 1280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#headerTitle a:visited {
    color: transparent;
}

#content {
    position: absolute;
    height: 100%;
    width: 1280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px;
}

#divfisheye {
    height: 283px;
    width: 800px;
    left: 10px;
    right: 0;
    top: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/inicio/fisheye.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
}

#headerTitle {
    position: relative;
    height: 300px;
    width: 650px;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#inputsearch {
    z-index: 5;
    position: relative;
    height: 100%;
    width: 50%;
    text-align: left;
    margin: 10px 0 0 2px;
    padding: 0 0 0 0;
    border: none;
    font-family: verdana;
    background-color: transparent;
    font-size: 16pt;
    font-weight: 500;
}

#categoryCBox {
    z-index: 5;
    width: 37%;
    position: relative;
    top: 25%;
    height: 50%;
    margin: 0;
    float: right;
    font-family: verdana;
    background-color: transparent;
    font-size: 12pt;
    font-weight: 500;
    vertical-align: top;
    border: none;
}

option.searchOption {
    background-color: rgba(200, 200, 200, 1);
}

optgroup.searchOption {
    background-color: rgba(200, 200, 200, 1);
}

#searchButton {
    z-index: 6;
    float: right;
    position: relative;
    height: 100%;
    width: 10%;
}

#searchForm {
    position: absolute;
    left: 0;
    right: 0;
	margin: 0 auto 0 auto;
    background-color: #779310;
    background-image: url(images/inicio/searchbar.png);
    background-repeat: no-repeat;
    height: 45px;
    top: 105px;
    width: 550px;
    padding: 5px 5px 10px 1.2%;
    position: relative;
    padding-right: 5px;
    -moz-border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
}
