#divRegister {
    background-image: url(images/inicio/bg.png);
    display: none;
	background-color: transparent;
    position: relative;
}

.regFormLabel {
    font-size: 11px;
    background-color: transparent;
}

div.regInput {
}

div.regFormHeader {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: solid;
    border-bottom-width: 1px;
}

div.regFormContent {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

#personal, #userData {
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    -moz-border-radius: 4px 4px 4px 4px;
}

#buttonOK {
    margin-left: 425px;
    background: url(images/bg-btn-blue.png) repeat-x scroll 0 0 #3399dd;
    /* mozilla firefox */
    -moz-border-radius: 4px 4px 4px 4px;
    /* google chrome & safari*/
    -webkit-border-radius: 4px;
    /* opera */
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
}

#buttonCancel {
    margin-left: 20px;
    background: url(images/bg-btn-blue.png) repeat-x scroll 0 0 #3399dd;
    /* mozilla firefox */
    -moz-border-radius: 4px 4px 4px 4px;
    /* google chrome & safari*/
    -webkit-border-radius: 4px;
    /* opera */
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
}

label.regReference {
    color: #FF0000;
    font-size: 11px;
}

label.regWarning {
    color: #FF0000;
    visibility: hidden;
    font-size: 11px;
}
