#divRegister, #divWelcome, #usernametaken{
    display: none;
    background-color: #e2e2e2;
	background-repeat: repeat-x;
}

.regFormLabel {
    font-size: 11px;
	font-weight: bold;
    background-color: transparent;
}

div.regFormHeader {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: solid;
    border-bottom-width: 1px;
	-moz-border-radius: 10px 10px 0 0;
	text-align: center;
}

div.regFormContent {
    padding: 10px;
	padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.05);	
}

#personal, #userData {
    margin-top: 20px;
    -moz-box-shadow : 0 0px 4px rgba(0, 0, 0, 1);
	-moz-border-radius: 10px 10px 10px 10px;
	background-color:  transparent;
	border: 1px solid #000000;
}

#buttonOK, #account_buttonOK {
    width: 100px;
    background: url(images/bg-btn-blue.png) repeat-x scroll 0 0 #3399dd;
    /* mozilla firefox */
    -moz-border-radius: 4px 4px 4px 4px;
    /* google chrome & safari*/
    -webkit-border-radius: 4px;
    /* opera */
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
}

#buttonCancel {
    margin-left: 20px;
    width: 100px;
    background: url(images/bg-btn-blue.png) repeat-x scroll 0 0 #3399dd;
    /* mozilla firefox */
    -moz-border-radius: 4px 4px 4px 4px;
    /* google chrome & safari*/
    -webkit-border-radius: 4px;
    /* opera */
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
}

label.regReference {
	color: #FF0000;
    font-size: 12px;
	font-weight: bold;
}

label.regWarning {
    color: #FF0000;
    visibility: hidden;
    font-size: 11px;
	font-weight: bold;
}

div.input{
	padding-top: 12px;
}

div.error {
	color: #FF0000;
    font-size: 11px;
	font-weight: bold;
	position: absolute;
}
