
#pageWrapper {
    visibility: hidden;
    position: absolute;
    height: 700px;
    width: 1024px;
    left: 0;
    right: 0;
    top: 229px;
    bottom: 0px;
    margin: 0 auto 0 auto;´
}

#contentWrapper {
    position: absolute;
    height: 90%;
    width: 624px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
}

.searchProduct {
    position: relative;
    float: left;
    height: 100px;
    width: 530px;
    background: rgba(0, 0, 0, 0.1);
    margin: 20px auto 20px auto;
    left: 0;
    right: 0;
    /* mozilla firefox */
    -moz-border-radius: 10px;
    background-image: url(./images/inicio/lines.png);
    background-color: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#content {
    z-index: 90;
    position: absolute;
    width: 100%;
    left: 10px;
    right: 0;
    bottom: 0;
    top: 25px;
    margin: 5px auto 0 auto;
}

#sidebar-left {
    z-index: 91;
    position: absolute;
    width: 281px;
    height: 100%;
    left: -41px;
    top: 0px;
    background-image: url(./images/inicio/sidebar_border.png);
    background-repeat: repeat-y;
}

.sidebarBg {
    z-index: 20;
    position: absolute;
    margin: 0 auto 0 auto;
    width: 200px;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url(./images/inicio/lines_2.png);
}

.sidebar {
    z-index: 2;
    position: absolute;
    margin: 0 auto 0 auto;
    width: 180px;
    height: 100%;
    top: 0px;
    left: 20px;
    right: 0px;
}

#sidebar-right {
    z-index: 2;
    position: absolute;
    width: 281px;
    height: 100%;
    left: 779px;
    overflow-y: auto;
    margin-left: 2px;
    top: 0px;
    background-image: url(./images/inicio/sidebar_border.png);
    background-repeat: repeat-y;
}

#footer {
    position: absolute;
    z-index: 20;
    height: 75px;
    width: 1182px;
    top: 630px;
    left: -81px;
    right: 0;
    bottom: 0px;
    margin: 0 auto 0 auto;
    background-image: url(./images/inicio/footer_side.png);
    background-repeat: repeat-y;
}

#footerBottom {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 1182px;
    top: 75px;
    left: 1px;
    right: 0;
    bottom: 0px;
    margin: 0 auto 0 auto;
    background-image: url(./images/inicio/footer_bottom.png);
    font-size: 8pt;
}

#footerBottomText{
	position: absolute;
	z-index: 20;
    height: 50px;
    width: 100%;
    top: 40px;
    left: 1px;
    right: 0;
    bottom: 0px;
    margin: auto auto auto auto;
    font-size: 9pt;
}

#footerInfo {
    font-size: 8pt;
	color: #ddd;
    position: absolute;
    height: 105px;
    width: 1020px;
    left: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 0 auto;
    background-color: #272727;
    background-image: url(./images/inicio/lines.png);
	border-top: 2px groove #444;
}

.footerBlock{
	position: relative;
	height: 75px;
	width: 140px;
	float: left;
	top: 10px;
	left: 10px;
	margin: 0 0 0 30px;
	bottom: 0;
	border: 2px solid #fff;
}

#menuCategorias {
    padding-top: 80px;
}

