* {
	font-family:Arial;
}

body{
	background-color:#fcedb9;
	width:1024px;
	margin-left : auto;
	margin-right : auto;
	padding : 0px;
}

.image {
	float:left;
	border: solid;
	border-width: 1px;
}

.tabs{
	float:right;
	width: 700px;
	position: static;
}

.name {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 8px;
}

.autor {
	font-size: 15px;
	font-style: italic;
	padding-bottom: 6px;
}

.category {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hide {
	display: none;
}

.divPrice {
	float:right;
	text-align:right;
}

.spanPrice {
	font-weight: bold;
	font-size: 18px;
	color: #CD0A0A;
}

#addtocart {
	margin-top: 60px;
	margin-bottom: 10px;
	width: 268px;
	height: 46px;
	background: url(../css/images/cart.png)  no-repeat right center;
}


.sinopsis {
	font-size:15px;
	font-family:Times;
}