body {
    font-family: tahoma;
    text-align: center;
    min-width: 1024px;
    margin: 0;
    background-color: #a2a4ac;
    background-image: url(./images/inicio/bg.png);
    background-repeat: repeat-x;
}

#header {
    position: static;
    text-align: left;
    height: 270px;
    width: 100%;
    background-color: #ee7b0d;
    margin-left: auto;
    margin-right: auto;
}

.categoryBlock {
    float: left;
    position: relative;
    width: 250px;
    height: 100%;
}

.categoryBlockTitle {
    float: left;
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
}

.categoryBlockSub {
    float: left;
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 10pt;
    font-family: verdana;
}

#categorySelector {
    top: 0px;
    color: #fff;
    height: 70px;
    width: 505px;
    left: -10px;
    right: 0;
    bottom: 0;
    margin: auto auto auto auto;
    position: absolute;
}

#divcategory {
    z-index: 50;
    width: 100%;
    height: 85px;
    position: absolute;
    left: 0;
    top: 375px;
}

.categoryLink {
    color: #aaa;
    text-decoration: underline;
    font-size: 12pt;
    font-family: verdana;
    font-weight: bold;
}

.categoryLink:hover {
    color: #f37e0d;
}

.subCategoryLink:hover {
    color: #f37e0d;
}

.subCategoryLink {
    color: #aaa;
    text-decoration: underline;
    font-size: 10pt;
    font-family: verdana;
    text-align: center;
    vertical-align: center;
    margin: 0 5px 0 5px;
    float: left;
}

#semiHeader {
    z-index: -1;
    background-color: #272727;
    background-image: url(images/inicio/lines_2.png);
    width: 100%;
    height: 140px;
    position: absolute;
    left: 0;
    top: 300px;
	border-bottom: 5px groove #000;
}

#semiHeaderBorder {
	background-image: url(images/inicio/borde_semiheader.png);
	background-repeat: repeat-x;
	position: absolute;
	top: 102%;
	left: 0;
	height: 50px;
	width: 100%;
	
}

#headerBorder {
    z-index: 5;
    position: absolute;
    height: 75px;
    width: 100%;
    top: 262px;
    background-image: url(images/inicio/header_border.png);
    background-repeat: repeat-x;
}

#headerLines {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    /*background-image: url(images/inicio/lines_2.png);*/
    background-repeat: repeat;
}

#headerContent {
    position: absolute;
    top: 0;
    height: 300px;
    width: 1024px;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    background-image: url(images/inicio/header_test.png);
    background-repeat: no-repeat;
}

#headerTitle a:visited {
    color: transparent;
}

#titleImg{
	border: none;
}

#headerTitle {
    z-index: 10;
    position: relative;
    height: 275px;
    width: 650px;
    top: 25px;
    left: 20px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	border: none;
}

#inputsearch {
    z-index: 500;
    color: #000;
    position: absolute;
    height: 30px;
    width: 200px;
    top: 13px;
    left: 70px;
    text-align: left;
    margin: 0 0 0 8px;
    border: none;
    background-color: transparent;
    font-family: verdana;
    font-size: 16pt;
    font-weight: 500;
}

#divlanguage {
    left: 10px;
    font-weight: bold;
    font-size: 10pt;
    text-align: right;
}

#comboArrow {
    z-index: 500;
    position: absolute;
    left: 500px;
    top: 11px;
}

#categoryCBox {
    z-index: 501;
    width: 235px;
    position: absolute;
    height: 25px;
    margin: 0;
    top: 17px;
    left: 325px;
    font-family: verdana;
    background-color: transparent;
    font-size: 11pt;
    font-weight: 500;
    vertical-align: center;
    border: none;
    visibility: visible;
}

option.searchOption {
    background-color: #fff;
}

optgroup.searchOption {
    background-color: #ccc;
}

#searchButton {
    z-index: 502;
    position: absolute;
    outline: 0;
    top: 4px;
    left: 540px;
    height: 50px;
    width: 65px;
    background-color: transparent;
    border: hidden;
    outline: #000;
    background-image: url(images/inicio/searchButton.png);
    background-position: left;
    background-repeat: no-repeat;
}

#searchButton:focus {
    outline: none;
}

#searchButton:hover {
    /* background-image: url(images/inicio/searchButton_hover.png);*/
}

#searchButton:active {
    border-style: none;
    outline: 0;
    /*    background-image: url(images/inicio/searchButton_active.png);*/
}

#searchForm {
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    background-image: url(images/inicio/searchbar.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 190px;
    top: 35px;
    width: 650px;
    position: relative;
}

#spanlanguage {
    color: #ddd;
    text-decoration: inherit;
}

#divlanguage {
    z-index: 11;
    position: absolute;
}
