#divcontent {
    width: 1024px;
    margin: 0 auto;
}

#divlink {
    z-index: 21;
    position: absolute;
    width: 330px;
    height: 23px;
    left: 672px;
    top: 277px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 10pt;
    text-align: right;
}

#spanlogin {
    text-decoration: inherit;
    background-color: transparent;
}

#spanregister {
    margin-left: 5px;
    color: #ddd;
    text-decoration: inherit;
}

#spanregister:hover {
    color: #fff;
}

.unclicked {
    padding: 5px 7px 5px 5px;
    margin-left: 25px;
    /* mozilla firefox */
    -moz-border-radius: 5px;
    /* google chrome & safari*/
    -webkit-border-radius: 5px;
    /* opera */
    border-radius: 5px;
}

.clicked {
    padding: 5px 7px 5px 5px;
    margin-left: 22px;
    /* mozilla firefox */
    -moz-border-radius: 7px 7px 0 0;
    /* google chrome & safari*/
    -webkit-border-radius: 7px 7px 0 0;
    /* opera */
    border-left: 2px solid #555;
    border-top: 2px solid #555;
    background-image: url(./images/inicio/bg.png);
    border-right: 2px solid #555;
}

.text_link {
    padding-left: 17px;
    color: #ddd;
    background: url(images/toggle_down_dark.png) no-repeat scroll left center;
}

.text_link:hover {
    color: #fff;
}

.text_link_clicked {
    color: #000;
    padding-left: 17px;
    background: url(images/toggle_up_dark.png) no-repeat scroll left center #fff;
}

.text_link_clicked:hover {
    color: #444;
}

#divlogin {
    z-index: 20;
    width: 245px;
    top: 296px;
    left: 764px;
    right: 0;
    position: absolute;
    display: none;
    background-image: url(./images/inicio/bg.png);
    /* mozilla firefox */
    -moz-border-radius: 7px 0 7px 10px;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    /* google chrome & safari*/
    -webkit-border-radius: 5px 0 5px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 3px 3px;
    /* opera */
    box-shadow: 0px 3px 3px #666666;
    border-radius: 5px 0 5px 5px;
    border: 2px solid #555;
}

#divlogin form {
    margin: 0 0 0 0;
    padding: 0 8px;
}

.field {
    border: 1px solid #bbb;
    padding: 5px;
    width: 218px;
}

.formLabel {
    font-size: 11px;
    color: #666;
    display: block;
    padding: 10px 0 7px 0;
}

#signin_submit {
    background: url(images/bg-btn-blue.png) repeat-x scroll 0 0 #3399dd;
    /* mozilla firefox */
    -moz-border-radius: 4px 4px 4px 4px;
    /* google chrome & safari*/
    -webkit-border-radius: 4px;
    /* opera */
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
}

#signin_submit:focus, #signin_submit:hover {
    cursor: pointer;
    background-position: 0 -5px;
}

#signin_submit:active {
    background-image: none;
}

.submit {
    color: #666;
    font-size: 11px;
    margin: 12px 0 12px 0;
}